*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.bodyBackground{
    height: 100vh;
    /* position: relative; */
    /* background:#262626; */
}
.bodyBackground::before{
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    background:url(./22.png);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 621px;
    }
}